<div class="mb-2">
  <a routerLink="/admin/products/new" class="btn btn-info">New Product</a>
</div>
<div class="row mb-2">
  <div class="col-md-4">
    <label for="searchTitle">Title</label>
    <input id="searchTitle" type="text" placeholder="Search for title ..." class="form-control" [(ngModel)]="searchName">
  </div>
  <div class="col-md-4">
    <label for="searchCategory">Category</label>
    <select id="searchCategory" class="form-control" [(ngModel)]="searchCategory">
      <option value>Not chosen</option>
      <option *ngFor="let category of categories$ | async" [value]="category.key">
        {{category.payload.val().name}}
      </option>
    </select>
  </div>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="order-cell"></th>
      <th class="image-cell"></th>
      <th>Name</th>
      <th>Price</th>
      <th class="tools-cell"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products$ | productFilter:searchName:searchCategory | async; let i = index">
      <td>{{i+1}}</td>
      <td class="image-cell">
        <img src="{{product.payload.val().imageUrl}}">
      </td>
      <td>{{product.payload.val().title}}</td>
      <td>{{product.payload.val().price | currency: 'USD'}}</td>
      <td class="tools-cell">
        <a [routerLink]="['/admin/products', product.key]" class="btn btn-info">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
