/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    padding-top: 80px;
}

.dropdown-toggle {
    cursor: pointer;
}

/* table */
table .order-cell {
    width: 60px;
}

table .tools-cell {
    width: 100px;
}

table .image-cell {
    width: 80px;
}

table .image-cell > img {
    max-width: 100%;
}

/* pagination */
.my-pagination {
    float: right;
    clear: both;
}